<script type="text/javascript" src="${base}/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="${base}/admin/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="${base}/admin/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script> 
<script type="text/javascript" src="${base}/admin/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="${base}/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="${base}/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="${base}/admin/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="${base}/admin/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="${base}/admin/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="${base}/front/js/msgbox.js"></script>
<script type="text/javascript" src="${base}/admin/page/js/jquery.pagination.js"></script>
<script type="text/javascript" src="${base}/admin/websocket/sockjs-0.3.4.min.js"></script>
<script type="text/javascript" src="${base}/admin/websocket/stomp.js"></script>
<script type="text/javascript" src="${base}/admin/rightBottomTip/js/rightBottomTip.js"></script>

