<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<#include "/template/common.ftl"/>
<base id="base" href="${base}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>欢迎页</title>

<link href="${base}/admin/welcome/css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#pdata{width:920px;margin:2px auto;}
</style>
</head>
<body>
<div class="content">
<div id="pdata"></div>
	<div class="wrapper">
		<div class="light"><i></i></div>
		<hr class="line-left">
		<hr class="line-right">
		<div class="main">
			<h1 class="title">joke更新日志</h1>
			<div class="year">
				<h2><a href="#">2016年<i></i></a></h2>
				<div class="list">
					<ul>
						<li class="cls highlight">
							<p class="date">12月10日</p>
							<p class="intro">joke研发</p>
							<p class="version">&nbsp;</p>
							<div class="more">
								<p>首页模块研发</p>
								<p>段子模块研发</p>
								<p>趣图模块研发</p>
							</div>
						</li>
						<li class="cls">
							<p class="date">12月17日</p>
							<p class="intro">留言模块、联系我们模块研发！</p>
							<p class="version">&nbsp;</p>
							<div class="more">
								<p>支持弹幕留言</p>
								<p>支持邮件发送</p>
								<p>查看网友留言</p>
							</div>
						</li>
						<li class="cls">
							<p class="date">12月20日</p>
							<p class="intro">右键导航菜单研发！</p>
							<p class="version">&nbsp;</p>
							<div class="more">
								<p>增加右键菜单导航</p>
							</div>
						</li>
						<li class="cls">
							<p class="date">12月22日</p>
							<p class="intro">首页背景音乐研发！</p>
							<p class="version">&nbsp;</p>
							<div class="more">
								<p>新增背景音乐</p>
							</div>
						</li>
						<li class="cls highlight">
							<p class="date">12月24日</p>
							<p class="intro">joke正式推出</p>
							<p class="version">&nbsp;</p>
							<div class="more">
								<p>首页模块上线</p>
								<p>段子模块上线</p>
								<p>趣图模块上线</p>
								<p>留言模块上线</p>
								<p>联系模块上线</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="year">
				<h2><a href="#">2017年<i></i></a></h2>
				<div class="list">
					<ul>
						<li class="cls highlight">
							<p class="date">1月06日</p>
							<p class="intro">joke.admin后台管理研发</p>
							<p class="version">&nbsp;</p>
							<div class="more">
								<p>对joke进行配置式管理</p>
							</div>
						</li>
						<li class="cls">
							<p class="date">1月08日</p>
							<p class="intro">登陆注册模块研发</p>
							<p class="version">&nbsp;</p>
							<div class="more">
								<p>用户登陆注册</p>
							</div>
						</li>
						<li class="cls">
							<p class="date">1月10日</p>
							<p class="intro">段子管理研发</p>
							<p class="version">&nbsp;</p>
							<div class="more">
								<p>支持段子增删改查</p>
							</div>
						</li>
						<li class="cls">
							<p class="date">1月12日</p>
							<p class="intro">趣图模块管理研发</p>
							<p class="version">&nbsp;</p>
							<div class="more">
								<p>支持趣图模块增删查</p>
							</div>
						</li>
						<li class="cls">
							<p class="date">1月14日</p>
							<p class="intro">用户模块管理研发</p>
							<p class="version">&nbsp;</p>
							<div class="more">
								<p>支持用户模块增删查</p>
							</div>
						</li>
						<li class="cls">
							<p class="date">1月16日</p>
							<p class="intro">角色模块管理研发</p>
							<p class="version">&nbsp;</p>
							<div class="more">
								<p>支持对用户进行角色权限配置</p>
							</div>
						</li>
						<li class="cls">
							<p class="date">1月18日</p>
							<p class="intro">系统管理研发</p>
							<p class="version">&nbsp;</p>
							<div class="more">
								<p>支持对背景音频，留言，邮件管理</p>
							</div>
						</li>
						<li class="cls highlight">
							<p class="date">2月14日</p>
							<p class="intro">joke.admin后台管理正式推出</p>
							<p class="version">&nbsp;</p>
							<div class="more">
								<p>段子管理上线</p>
								<p>趣图管理上线</p>
								<p>用户管理上线</p>
								<p>角色管理上线</p>
								<p>系统管理上线</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
	</div>
	
</div>



<script type="text/javascript" src="${base}/admin/welcome/js/jquery.min.js"></script>
<script type="text/javascript" src="${base}/admin/welcome/js/timer.js"></script>
<script type="text/javascript">
$(".main .year .list").each(function(e, target){
	var $target=  $(target),
	$ul = $target.find("ul");
	$target.height($ul.outerHeight()), $ul.css("position", "absolute");
}); 
$(".main .year>h2>a").click(function(e){
	e.preventDefault();
	$(this).parents(".year").toggleClass("close");
});
</script>
	
</body>
</html>
